@model List<Product>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2>Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-bookmark-plus"></i> Create New Product
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Description
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    ListPrice
                </th>
                <th>
                    Price
                </th>
                <th>
                    Price 50+
                </th>
                <th>
                    Price 100+
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.ListPrice))
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Author</td>
                    <td>@obj.Description</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.ListPrice</td>
                    <td>@obj.Price</td>
                    <td>@obj.Price50</td>
                    <td>@obj.Price100</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-info mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
